@tailwind base;

@tailwind components;

@tailwind utilities;

html {
  font-family: Rubik, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizelegibility;
  scroll-behavior: smooth;
}
body {
  color: rgb(105, 105, 105);
  background: rgb(211, 211, 211);
}